# Raute entfernen und Werte bei Bedarf ändern
# CORE_HOST=""
# CORE_PORT=9851

GUI_LANGUAGE=de

# Live-Aktualisierung in Sekunden, 1 bis 3600
GUI_REFRESH_INTERVAL=5

GUI_SHOW_NEWS=1
GUI_SHOW_SHARE=1
TOP_SHOW_PERMALINK=1

ALLOWED_SERVERMSG_TAGS="<a><b><i><u><br>"

TZ="Europe/Berlin"

# REL_INFO="http://coolsite.tld/api/ajfsp/%s"

# Externe Quellen, Defaults siehe src/Kernel.php
# NEWS_URL="https://applejuicenetz.github.io/news/%s.html"
# FAQ_URL="https://applejuicenetz.github.io/faq/"
# RELEASE_URL="https://api.github.com/repos/applejuicenetz/phpgui/releases/latest"
# SERVERLIST_URL="http://www.applejuicenet.cc/serverlist/xmllist.php"

# PHP-Fehlerausgabe, Default: an mit error_reporting 1
# PHP_INI_DISPLAY_ERRORS=Off
# PHP_INI_ERROR_REPORTING=1
