#font_awesome_icons {

    .fa {
        color: #555;
        font-size: 20px;
        min-width: 26px;
        position: relative;
        top: 3px;
    }

    a {
        color: #555;
        text-decoration: none;
    }

    .fa-hover {
        margin-bottom: 10px;
    }

    .page-header {
        font-size: 18px;
        font-weight: bold;
    }
}
