.tab-pane {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-top: none;
    color: #777;
    font-size: 13px;
}

.nav-tabs {
    border-color: #e5e5e5;

    > li {
        &.active {
            > a {
                border-color: #e5e5e5;
                border-bottom-color: transparent !important;

                &:hover {
                    border-color: #e5e5e5;
                    border-bottom-color: transparent !important;
                }
            }
        }
    }

    li {
        a {
            @include border-radius(3px);
            padding: 10px 20px;
            font-weight: 600;
            color: #999;

            &:hover {
                border-color: transparent;
                background-color: transparent;
                color: #444;
            }
        }
    }

    label {
        &.badge {
            margin-bottom: 0;
        }
    }
}
