.image-crop-holder {
    /*max-height: 400px;
    overflow: hidden;*/
    img {
        max-width: 100%;
    }
}

.docs-preview {
    .img-preview {
        background-color: #f7f7f7;
        width: 100%;
        text-align: center;
        margin-right: .5rem;
        margin-bottom: .5rem;
        overflow: hidden;
        float: left;

        > img {
            max-width: 100%;
        }

        &.preview-lg {
            width: 16rem;
            height: 9rem;
        }

        &.preview-md {
            width: 8rem;
            height: 4.5rem;
        }

        &.preview-sm {
            width: 4rem;
            height: 2.25rem;
        }

        &.preview-xs {
            width: 2rem;
            height: 1.125rem;
            margin-right: 0;
        }
    }
}
