.password-meter {
    position: relative;

    .meter {
        position: absolute;
        bottom: 36px;
        left: 2px;
        margin-bottom: -34px;
        height: 30px;
        width: 0;
        z-index: 0;
        @include border-radius(3px);
        @include transition(all .3s ease-in-out);
    }

    .strength-text {
        position: absolute;
        right: 0;
        bottom: -21px;
        font-size: 12px;
        font-weight: 600;
    }

    .form-control {
        background: transparent;
        position: relative;
        z-index: 1;
    }
}
