.payment-order-summary-info {
    .price {
        color: #666;
        font-size: 22px;
        font-weight: 600;
    }

    .note {
        font-size: 13px;
        text-align: justify;
        margin-top: 15px;
        color: #666;
    }
}
