<div class="panel panel-default">
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="bg-danger col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">DANGER</p>
                    <p>#da4453</p>
                    <p class="m-b-0 m-t--10">bg-danger</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-success col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">SUCCESS</p>
                    <p>#16a085</p>
                    <p class="m-b-0 m-t--10">bg-success</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-primary col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">PRIMARY</p>
                    <p>#2980b9</p>
                    <p class="m-b-0 m-t--10">bg-primary</p>
                </div>
            </div>
        </div>

        <div class="row clearfix m-t-25">
            <div class="col-sm-4">
                <div class="bg-warning col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">WARNING</p>
                    <p>#f6b225</p>
                    <p class="m-b-0 m-t--10">bg-warning</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-info col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">INFO</p>
                    <p>#01c0c8</p>
                    <p class="m-b-0 m-t--10">bg-info</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-default col-white align-center p-t-20 p-b-20">
                    <p class="font-15 font-600">DEFAULT</p>
                    <p>#bdc3c6</p>
                    <p class="m-b-0 m-t--10">bg-default</p>
                </div>
            </div>
        </div>
    </div>
</div>