<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group has-feedback">
            <input type="text" class="form-control input-sm js-searchbox" placeholder="Search in list..." required>
            <span class="glyphicon glyphicon-search form-control-feedback col-888"></span>
        </div>

        <div class="js-treeview">
            <ul>
                <li data-jstree='{"opened":true}'>
                    assets
                    <ul>
                        <li data-jstree='{"opened":true}'>
                            css
                            <ul>
                                <li data-jstree='{"type":"css"}'>style.css</li>
                                <li data-jstree='{"type":"css"}'>style.min.css</li>
                            </ul>
                        </li>
                        <li>
                            images
                            <ul>
                                <li data-jstree='{"type":"img"}'>signin-bg.jpg</li>
                                <li data-jstree='{"type":"img"}'>signup-bg.jpg</li>
                            </ul>
                        </li>
                        <li>
                            js
                            <ul>
                                <li data-jstree='{"type":"js"}'>admin.js</li>
                                <li>
                                    pages
                                    <ul>
                                        <li>
                                            examples
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>forgot-password.js</li>
                                                <li data-jstree='{"type":"js"}'>locked-screen.js</li>
                                                <li data-jstree='{"type":"js"}'>maintenance.js</li>
                                                <li data-jstree='{"type":"js"}'>search-result.js</li>
                                                <li data-jstree='{"type":"js"}'>signin.js</li>
                                                <li data-jstree='{"type":"js"}'>signup.js</li>
                                                <li data-jstree='{"type":"js"}'>timeline.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            forms
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>advanced-form-elements.js</li>
                                                <li data-jstree='{"type":"js"}'>autocomplete.js</li>
                                                <li data-jstree='{"type":"js"}'>basic-form-elements.js</li>
                                                <li data-jstree='{"type":"js"}'>editors.js</li>
                                                <li data-jstree='{"type":"js"}'>form-examples.js</li>
                                                <li data-jstree='{"type":"js"}'>form-validation.js</li>
                                                <li data-jstree='{"type":"js"}'>form-wizard.js</li>
                                                <li data-jstree='{"type":"js"}'>image-cropper.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            mailbox
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>compose-email.js</li>
                                                <li data-jstree='{"type":"js"}'>inbox.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            maps
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>google-maps.js</li>
                                                <li data-jstree='{"type":"js"}'>vector-map.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            medias
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>content-slider.js</li>
                                                <li data-jstree='{"type":"js"}'>image-comparison-slider.js</li>
                                                <li data-jstree='{"type":"js"}'>owl-carousel.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            miscellaneous
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>agile-board.js</li>
                                                <li data-jstree='{"type":"js"}'>bootstrap-tour.js</li>
                                                <li data-jstree='{"type":"js"}'>favicon-bubble.js</li>
                                                <li data-jstree='{"type":"js"}'>idle-timer.js</li>
                                                <li data-jstree='{"type":"js"}'>text-diff.js</li>
                                                <li data-jstree='{"type":"js"}'>todo-list.js</li>
                                                <li data-jstree='{"type":"js"}'>tree-view.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            tables
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>eidtable-table.js</li>
                                                <li data-jstree='{"type":"js"}'>footable.js</li>
                                                <li data-jstree='{"type":"js"}'>jquery-datatables.js</li>
                                                <li data-jstree='{"type":"js"}'>normal-tables.js</li>
                                            </ul>
                                        </li>
                                        <li>
                                            ui
                                            <ul>
                                                <li data-jstree='{"type":"js"}'>animations.js</li>
                                                <li data-jstree='{"type":"js"}'>modals.js</li>
                                                <li data-jstree='{"type":"js"}'>notifications.js</li>
                                                <li data-jstree='{"type":"js"}'>sortable-nestable.js</li>
                                                <li data-jstree='{"type":"js"}'>tooltips-popovers.js</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            locales
                            <ul>
                                <li>
                                    en
                                    <ul>
                                        <li data-jstree='{"type":"json"}'>translation.json</li>
                                    </ul>
                                </li>
                                <li>
                                    tr
                                    <ul>
                                        <li data-jstree='{"type":"json"}'>translation.json</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            plugins
                            <ul>
                                <li>
                                    jquery
                                    <ul>
                                        <li data-jstree='{"type":"js"}'>jquery.js</li>
                                        <li data-jstree='{"type":"js"}'>jquery.min.js</li>
                                    </ul>
                                </li>
                                <li>
                                    gmaps
                                    <ul>
                                        <li data-jstree='{"type":"js"}'>gmaps.js</li>
                                        <li data-jstree='{"type":"js"}'>gmaps.min.js</li>
                                    </ul>
                                </li>
                                <li>
                                    chosen
                                    <ul>
                                        <li data-jstree='{"type":"css"}'>chosen.css</li>
                                        <li data-jstree='{"type":"css"}'>chosen.min.css</li>
                                        <li data-jstree='{"type":"js"}'>chosen.js</li>
                                        <li data-jstree='{"type":"js"}'>chosen.min.js</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            scss
                            <ul>
                                <li>
                                    examples
                                    <ul>
                                        <li data-jstree='{"type":"scss"}'>_errorpages.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_invoice.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_lockedscreen.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_signin.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_signup.scss</li>
                                    </ul>
                                </li>
                                <li>
                                    form-elements
                                    <ul>
                                        <li data-jstree='{"type":"scss"}'>_buttons.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_colorpicker.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_form.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_input.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_select.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_select2.scss</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"type":"scss"}'>_common.scss</li>
                                <li data-jstree='{"type":"scss"}'>_content.scss</li>
                                <li data-jstree='{"type":"scss"}'>_helpers.scss</li>
                                <li data-jstree='{"type":"scss"}'>_mixins.scss</li>
                                <li data-jstree='{"type":"scss"}'>_tables.scss</li>
                                <li data-jstree='{"type":"scss"}'>_navbar.scss</li>
                                <li data-jstree='{"type":"scss"}'>_variables.scss</li>
                                <li data-jstree='{"type":"scss"}'>style.scss</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    documentation
                    <ul>
                        <li>
                            css
                            <ul>
                                <li data-jstree='{"type":"css"}'>documentation.css</li>
                            </ul>
                        </li>
                        <li>
                            js
                            <ul>
                                <li data-jstree='{"type":"js"}'>angular.min.js</li>
                                <li data-jstree='{"type":"js"}'>angular-route.min.js</li>
                                <li data-jstree='{"type":"js"}'>app.js</li>
                            </ul>
                        </li>
                        <li>
                            templates
                            <ul>
                                <li data-jstree='{"type":"html"}'>browser-support.html</li>
                                <li data-jstree='{"type":"html"}'>colors.html</li>
                            </ul>
                        </li>
                        <li data-jstree='{"type":"html"}'>index.html</li>
                    </ul>
                </li>
                <li>
                    grunt
                    <ul>
                        <li data-jstree='{"type":"js"}'>Gruntfile.js</li>
                        <li data-jstree='{"type":"json"}'>package.json</li>
                    </ul>
                </li>
                <li>
                    gulp
                    <ul>
                        <li data-jstree='{"type":"js"}'>gulpfile.js</li>
                        <li data-jstree='{"type":"json"}'>package.json</li>
                    </ul>
                </li>
                <li>
                    pages
                    <ul>
                        <li>
                            blog
                            <ul>
                                <li data-jstree='{"type":"html"}'>posts.html</li>
                                <li data-jstree='{"type":"html"}'>single-post.html</li>
                            </ul>
                        </li>
                        <li>
                            charts
                            <ul>
                                <li data-jstree='{"type":"html"}'>c3.html</li>
                                <li data-jstree='{"type":"html"}'>chartjs.html</li>
                            </ul>
                        </li>
                        <li>
                            dashboard
                            <ul>
                                <li data-jstree='{"type":"html"}'>dashboard-2.html</li>
                                <li data-jstree='{"type":"html"}'>dashboard-3.html</li>
                            </ul>
                        </li>
                        <li>
                            ecommerce
                            <ul>
                                <li data-jstree='{"type":"html"}'>cart.html</li>
                                <li data-jstree='{"type":"html"}'>orders.html</li>
                            </ul>
                        </li>
                        <li>
                            email-templates
                            <ul>
                                <li data-jstree='{"type":"html"}'>action.html</li>
                                <li data-jstree='{"type":"html"}'>alert.html</li>
                                <li data-jstree='{"type":"html"}'>billing.html</li>
                            </ul>
                        </li>
                        <li>
                            examples
                            <ul>
                                <li data-jstree='{"type":"html"}'>403.html</li>
                                <li data-jstree='{"type":"html"}'>404.html</li>
                                <li data-jstree='{"type":"html"}'>500.html</li>
                                <li data-jstree='{"type":"html"}'>blank-page.html</li>
                                <li data-jstree='{"type":"html"}'>forgot-password.html</li>
                                <li data-jstree='{"type":"html"}'>invoice-print.html</li>
                                <li data-jstree='{"type":"html"}'>invoice.html</li>
                                <li data-jstree='{"type":"html"}'>locked-screen.html</li>
                                <li data-jstree='{"type":"html"}'>maintenance.html</li>
                                <li data-jstree='{"type":"html"}'>search-result.html</li>
                                <li data-jstree='{"type":"html"}'>sign-in.html</li>
                                <li data-jstree='{"type":"html"}'>sign-up.html</li>
                                <li data-jstree='{"type":"html"}'>timeline.html</li>
                            </ul>
                        </li>
                        <li>
                            forms
                            <ul>
                                <li data-jstree='{"type":"html"}'>advanced-form-elements.html</li>
                                <li data-jstree='{"type":"html"}'>autocomplete.html</li>
                                <li data-jstree='{"type":"html"}'>basic-form-elements.html</li>
                                <li data-jstree='{"type":"html"}'>editors.html</li>
                                <li data-jstree='{"type":"html"}'>form-examples.html</li>
                                <li data-jstree='{"type":"html"}'>form-validation.html</li>
                                <li data-jstree='{"type":"html"}'>form-wizard.html</li>
                                <li data-jstree='{"type":"html"}'>image-cropper.html</li>
                                <li data-jstree='{"type":"html"}'>markdown.html</li>
                            </ul>
                        </li>
                        <li>
                            mailbox
                            <ul>
                                <li data-jstree='{"type":"html"}'>compose-email.html</li>
                                <li data-jstree='{"type":"html"}'>email-templates.html</li>
                                <li data-jstree='{"type":"html"}'>email-view.html</li>
                                <li data-jstree='{"type":"html"}'>inbox.html</li>
                            </ul>
                        </li>
                        <li>
                            maps
                            <ul>
                                <li data-jstree='{"type":"html"}'>google-maps.html</li>
                                <li data-jstree='{"type":"html"}'>vector-map.html</li>
                                <li data-jstree='{"type":"html"}'>yandex-maps.html</li>
                            </ul>
                        </li>
                        <li>
                            medias
                            <ul>
                                <li data-jstree='{"type":"html"}'>carousel.html</li>
                                <li data-jstree='{"type":"html"}'>content-slider.html</li>
                                <li data-jstree='{"type":"html"}'>image-comparison-slider.html</li>
                                <li data-jstree='{"type":"html"}'>lightbox-image-gallery.html</li>
                                <li data-jstree='{"type":"html"}'>owl-carousel.html</li>
                            </ul>
                        </li>
                        <li>
                            miscellaneous
                            <ul>
                                <li data-jstree='{"type":"html"}'>agile-board.html</li>
                                <li data-jstree='{"type":"html"}'>bootstrap-tour.html</li>
                                <li data-jstree='{"type":"html"}'>favicon-bubble.html</li>
                                <li data-jstree='{"type":"html"}'>idle-timer.html</li>
                                <li data-jstree='{"type":"html"}'>text-diff.html</li>
                                <li data-jstree='{"type":"html"}'>todo-list.html</li>
                                <li data-jstree='{"type":"html"}'>tree-view.html</li>
                            </ul>
                        </li>
                        <li>
                            tables
                            <ul>
                                <li data-jstree='{"type":"html"}'>editable-table.html</li>
                                <li data-jstree='{"type":"html"}'>footable.html</li>
                                <li data-jstree='{"type":"html"}'>jquery-datatables.html</li>
                                <li data-jstree='{"type":"html"}'>normal-tables.html</li>
                            </ul>
                        </li>
                        <li>
                            ui
                            <ul>
                                <li data-jstree='{"type":"html"}'>accordion.html</li>
                                <li data-jstree='{"type":"html"}'>alerts.html</li>
                                <li data-jstree='{"type":"html"}'>animations.html</li>
                                <li data-jstree='{"type":"html"}'>badges.html</li>
                                <li data-jstree='{"type":"html"}'>breadcrumbs.html</li>
                                <li data-jstree='{"type":"html"}'>buttons.html</li>
                                <li data-jstree='{"type":"html"}'>collapse.html</li>
                                <li data-jstree='{"type":"html"}'>icons.html</li>
                                <li data-jstree='{"type":"html"}'>labels.html</li>
                                <li data-jstree='{"type":"html"}'>list-group.html</li>
                                <li data-jstree='{"type":"html"}'>media-object.html</li>
                                <li data-jstree='{"type":"html"}'>modals.html</li>
                                <li data-jstree='{"type":"html"}'>notifications.html</li>
                                <li data-jstree='{"type":"html"}'>pagination-pager.html</li>
                                <li data-jstree='{"type":"html"}'>progress-bars.html</li>
                                <li data-jstree='{"type":"html"}'>sortable-nestable.html</li>
                                <li data-jstree='{"type":"html"}'>tabs.html</li>
                                <li data-jstree='{"type":"html"}'>thumbnails.html</li>
                                <li data-jstree='{"type":"html"}'>tooltips-popovers.html</li>
                            </ul>
                        </li>
                        <li>
                            widgets
                            <ul>
                                <li data-jstree='{"type":"html"}'>panel.html</li>
                            </ul>
                        </li>
                        <li data-jstree='{"type":"html"}'>changelogs.html</li>
                        <li data-jstree='{"type":"html"}'>helper-classes.html</li>
                        <li data-jstree='{"type":"html"}'>typography.html</li>
                    </ul>
                </li>
                <li data-jstree='{"type":"json"}'>bower.json</li>
                <li data-jstree='{"type":"img"}'>favicon.ico</li>
                <li data-jstree='{"type":"html"}'>index.html</li>
            </ul>
        </div>

        <label class="label label-warning">Doesn't contains all files inside the folders</label>
    </div>

</div>