<div class="panel panel-default">
    <div class="panel-heading">
        TEXT STYLES <small>You can use classes which names are <code>.font-bold, .font-italic, .font-underline, .font-line-through, .font-overline</code></small>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Normal</b>
                </p>
                <p>Default text</p>
                <p class="col-primary">Text primary color</p>
                <p class="col-success">Text success color</p>
                <p class="col-danger">Text danger color</p>
                <p class="col-warning">Text warning color</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Bold</b>
                </p>
                <p class="font-bold">Default text</p>
                <p class="font-bold col-primary">Text primary color</p>
                <p class="font-bold col-success">Text success color</p>
                <p class="font-bold col-danger">Text danger color</p>
                <p class="font-bold col-warning">Text warning color</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Italic</b>
                </p>
                <p class="font-italic">Default text</p>
                <p class="font-italic col-primary">Text primary color</p>
                <p class="font-italic col-success">Text success color</p>
                <p class="font-italic col-danger">Text danger color</p>
                <p class="font-italic col-warning">Text warning color</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Underline</b>
                </p>
                <p class="font-underline">Default text</p>
                <p class="font-underline col-primary">Text primary color</p>
                <p class="font-underline col-success">Text success color</p>
                <p class="font-underline col-danger">Text danger color</p>
                <p class="font-underline col-warning">Text warning color</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Line Through</b>
                </p>
                <p class="font-line-through">Default text</p>
                <p class="font-line-through col-primary">Text primary color</p>
                <p class="font-line-through col-success">Text success color</p>
                <p class="font-line-through col-danger">Text danger color</p>
                <p class="font-line-through col-warning">Text warning color</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                    <b>Overline</b>
                </p>
                <p class="font-overline">Default text</p>
                <p class="font-overline col-primary">Text primary color</p>
                <p class="font-overline col-success">Text success color</p>
                <p class="font-overline col-danger">Text danger color</p>
                <p class="font-overline col-warning">Text warning color</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        FONT SIZES
        <small>You can use the classes which samples are <code>.font-6, .font-10, .font-24</code> The number of can use between 6 - 50px which are near the <b>.font-</b></small>
    </div>
    <div class="panel-body">
        <div class="row clearfix m-b-30">
            <div class="col-sm-2">
                <div class="font-6">font-6</div>
            </div>
            <div class="col-sm-2">
                <div class="font-10">font-10</div>
            </div>
            <div class="col-sm-2">
                <div class="font-12">font-12</div>
            </div>
            <div class="col-sm-2">
                <div class="font-15">font-15</div>
            </div>
            <div class="col-sm-2">
                <div class="font-20">font-20</div>
            </div>
            <div class="col-sm-2">
                <div class="font-24">font-24</div>
            </div>
        </div>
        <div class="row clearfix m-b-10">
            <div class="col-sm-2">
                <div class="font-32">font-32</div>
            </div>
            <div class="col-sm-2">
                <div class="font-40">font-40</div>
            </div>
            <div class="col-sm-2">
                <div class="font-42">font-42</div>
            </div>
            <div class="col-sm-2">
                <div class="font-45">font-45</div>
            </div>
            <div class="col-sm-2">
                <div class="font-48">font-48</div>
            </div>
            <div class="col-sm-2">
                <div class="font-50">font-50</div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        TEXT ALIGNS
        <small>You can use classes which names are <code>.align-left, .align-center, .align-right, .align-justify</code></small>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-sm-3">
                <p class="align-left">
                    <b>Align Left</b>
                </p>
                <div class="align-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="col-sm-3">
                <p class="align-center">
                    <b>Align Center</b>
                </p>
                <div class="align-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="col-sm-3">
                <p class="align-right">
                    <b>Align Right</b>
                </p>
                <div class="align-right">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="col-sm-3">
                <p class="align-justify">
                    <b>Align Justify</b>
                </p>
                <div class="align-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        MARGIN & PADDING SPACES
        <small>You can use classes which names are <code>.m-t-10, .m-t--10, .m-r-5, .p-t-10, .p-b-5</code></small>
    </div>
    <div class="panel-body">
        <p>
            <b>Margins</b>
        </p>
        <div class="row clearfix">
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">T</span>op <span class="col-danger font-bold">10</span>px → <code>.m-t-10</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">T</span>op <span class="col-danger font-bold">0</span>px → <code>.m-t-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">T</span>op <span class="col-danger font-bold">-10</span>px → <code>.m-t--10</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">L</span>eft <span class="col-danger font-bold">35</span>px → <code>.m-l-35</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">L</span>eft <span class="col-danger font-bold">0</span>px → <code>.m-l-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">L</span>eft <span class="col-danger font-bold">-35</span>px → <code>.m-l--35</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">B</span>ottom <span class="col-danger font-bold">15</span>px → <code>.m-b-15</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">B</span>ottom <span class="col-danger font-bold">0</span>px → <code>.m-b-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">B</span>ottom <span class="col-danger font-bold">-20</span>px → <code>.m-b--20</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">R</span>ight <span class="col-danger font-bold">30</span>px → <code>.m-r-30</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">R</span>ight <span class="col-danger font-bold">0</span>px → <code>.m-r-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">M</span>argin <span class="col-danger font-bold">R</span>ight <span class="col-danger font-bold">-30</span>px → <code>.m-r--30</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">ALL M</span>argin <span class="col-danger font-bold">0</span>px → <code>.margin-0</code>
            </div>
        </div>

        <p class="m-t-25">
            <b>Paddings</b>
        </p>
        <div class="row clearfix">
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">T</span>op <span class="col-danger font-bold">10</span>px → <code>.p-t-10</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">T</span>op <span class="col-danger font-bold">0</span>px → <code>.p-t-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">L</span>eft <span class="col-danger font-bold">35</span>px → <code>.p-l-35</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">L</span>eft <span class="col-danger font-bold">0</span>px → <code>.p-l-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">B</span>ottom <span class="col-danger font-bold">15</span>px → <code>.p-b-15</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">B</span>ottom <span class="col-danger font-bold">0</span>px → <code>.p-b-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">R</span>ight <span class="col-danger font-bold">30</span>px → <code>.p-r-30</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">P</span>adding <span class="col-danger font-bold">R</span>ight <span class="col-danger font-bold">0</span>px → <code>.p-r-0</code>
            </div>
            <div class="col-md-2">
                <span class="col-danger font-bold">ALL P</span>adding <span class="col-danger font-bold">0</span>px → <code>.padding-0</code>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        SPECIAL CLASSES FOR EVERY BROWSERS
        <small>When the user start the usage this theme, we put the browser info inside the <code>html</code> as class</small>
    </div>
    <div class="panel-body">
        Putting classes are <code>.ie10, .ie11, .edge, .opera, .chrome, .firefox, .safari</code> to class inside of <code>html</code> element. So you can create new classes for run only you specified browser(s).
        <p class="m-t-25">
            <b>Example</b>
        </p>
        <pre><code class="language-css"><b>/* It will be work only IE10 */</b>
html.ie10 .menu .list {
   background-color: #CC0000;
}
<b>/* It will be work only Google Chrome */</b>
html.chrome .right-sidebar .header {
   font-size: 15px;
   font-weight: bold;
}</code></pre><p>&nbsp;</p>
    </div>
</div>
