<div>
    <p><b>BASIC EXAMPLES</b></p>
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="" data-target="#preview_1" data-toggle="tab">PREVIEW</a></li>
        <li role="presentation" class=""><a href="" data-target="#html_1" data-toggle="tab">HTML</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="preview_1">
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="info-box infobox-type-1">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-1)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-2 bg-danger">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-2)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-3 bg-danger">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-3)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-4 bg-danger">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-4)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-5">
                        <div class="icon"><i class="material-icons col-danger">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-5)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="html_1">
            <pre class="brush: html">
&lt;div class="row clearfix"&gt;
    &lt;!-- Infobox-1 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-1 hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-1)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-2 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-2 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-2)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-3 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-3 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-3)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-4 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-4 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-4)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-5 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-5 hover-expand-effect"&gt;
            &lt;div class="icon"&gt;
                &lt;i class="material-icons col-danger"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-5)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </div>
    </div>
</div>

<div class="m-t-25">
    <p><b>HOVER ZOOM EFFECT</b> <small>You need to add <code>.hover-zoom-effect</code> class</small></p>
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="" data-target="#preview_2" data-toggle="tab">PREVIEW</a></li>
        <li role="presentation" class=""><a href="" data-target="#html_2" data-toggle="tab">HTML</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="preview_2">
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="info-box infobox-type-1 hover-zoom-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-1)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-2 bg-danger hover-zoom-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-2)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-3 bg-danger hover-zoom-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-3)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-4 bg-danger hover-zoom-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-4)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-5 hover-zoom-effect">
                        <div class="icon"><i class="material-icons col-danger">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-5)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="html_2">
            <pre class="brush: html">
&lt;div class="row clearfix"&gt;
    &lt;!-- Infobox-1 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-1 hover-zoom-effect"&gt;
            &lt;div class="icon bg-danger"&gt;&lt;i class="material-icons"&gt;favorite&lt;/i&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-1)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-2 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-2 bg-danger hover-zoom-effect"&gt;
            &lt;div class="icon bg-danger"&gt;&lt;i class="material-icons"&gt;favorite&lt;/i&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-2)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-3 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-3 bg-danger hover-zoom-effect"&gt;
            &lt;div class="icon bg-danger"&gt;&lt;i class="material-icons"&gt;favorite&lt;/i&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-3)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-4 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-4 bg-danger hover-zoom-effect"&gt;
            &lt;div class="icon bg-danger"&gt;&lt;i class="material-icons"&gt;favorite&lt;/i&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-4)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-5 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-5 hover-zoom-effect"&gt;
            &lt;div class="icon"&gt;&lt;i class="material-icons col-danger"&gt;favorite&lt;/i&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-5)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </div>
    </div>
</div>

<div class="m-t-25">
    <p><b>HOVER EXPAND EFFECT</b> <small>You need to add <code>.hover-expand-effect</code> class</small></p>
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="" data-target="#preview_3" data-toggle="tab">PREVIEW</a></li>
        <li role="presentation" class=""><a href="" data-target="#html_3" data-toggle="tab">HTML</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="preview_3">
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="info-box infobox-type-1 hover-expand-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-1)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-2 bg-danger hover-expand-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-2)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-3 bg-danger hover-expand-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-3)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-4 bg-danger hover-expand-effect">
                        <div class="icon bg-danger"><i class="material-icons">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-4)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box infobox-type-5 hover-expand-effect">
                        <div class="icon"><i class="material-icons col-danger">favorite</i></div>
                        <div class="content">
                            <div class="text">LIKES (Infobox-5)</div>
                            <div class="number">2158</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="html_3">
            <pre class="brush: html">
&lt;div class="row clearfix"&gt;
    &lt;!-- Infobox-1 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-1 hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-1)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-2 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-2 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-2)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-3 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-3 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-3)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-4 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-4 bg-danger hover-expand-effect"&gt;
            &lt;div class="icon bg-danger"&gt;
                &lt;i class="material-icons"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-4)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Infobox-5 --&gt;
    &lt;div class="col-md-4"&gt;
        &lt;div class="info-box infobox-type-5 hover-expand-effect"&gt;
            &lt;div class="icon"&gt;
                &lt;i class="material-icons col-danger"&gt;favorite&lt;/i&gt;
            &lt;/div&gt;
            &lt;div class="content"&gt;
                &lt;div class="text"&gt;LIKES (Infobox-5)&lt;/div&gt;
                &lt;div class="number"&gt;2158&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </div>
    </div>
</div>