<div class="panel panel-default">
    <div class="panel-body">
        <p>
            You can find this options on <b>assets/js/admin.js</b> file.
        </p>
        <pre class="brush: js">
$.AdminBSB.options = {
    leftSideBar: {
        scrollColor: 'rgba(0,0,0,0.32)',
        scrollWidth: '5px',
        scrollAlwaysVisible: false,
        scrollBorderRadius: '8px',
        scrollRailBorderRadius: '8px'
    },
    rightSideBar: {
        scrollColor: 'rgba(0,0,0,0.32)',
        scrollWidth: '5px',
        scrollAlwaysVisible: false,
        scrollBorderRadius: '8px',
        scrollRailBorderRadius: '8px'
    },
    dropdownMenu: {
        effectIn: 'fadeIn',
        effectOut: 'fadeOut'
    },
    navbar: {
        toggleClass: 'ls-toggled'
    },
    panel: {
        iconClass: {
            close: 'fa fa-close',
            fullscreenOn: 'fa fa-expand',
            fullscreenOff: 'fa fa-compress',
            collapse: 'fa fa-chevron-up',
            expand: 'fa fa-chevron-down'
        },
        tooltip: {
            show: true,
            closeText: 'Close',
            fullscreenOnOffText: 'Toggle Fullscreen',
            collapseExpandText: 'Collapse/Expand',
            closePlacement: 'bottom',
            fullscreenPlacement: 'bottom',
            collapsePlacement: 'bottom'
        },
        controls: {
            collapsable: true,
            fullscreen: true,
            close: true
        }
    }
}
</pre>
    </div>
</div>