<div class="panel panel-default">
    <div class="panel-body">
        <p>For change the website layouts you can add these class to <code>body</code> tag. You can use multiple classes at the same time.</p>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code>.ls-toggled</code>
                        </td>
                        <td>Left sidebar set toggle</td>
                    </tr>
                    <tr>
                        <td>
                            <code>.ls-fixed</code>
                        </td>
                        <td>Left sidebar set fixed</td>
                    </tr>

                    <tr>
                        <td>
                            <code>.navbar-fixed</code>
                        </td>
                        <td>Navbar set fixed</td>
                    </tr>
                    <tr>
                        <td>
                            <code>.boxed-layout</code>
                        </td>
                        <td>Boxed layout</td>
                    </tr>
                    <tr>
                        <td>
                            <code>.footer-fixed</code>
                        </td>
                        <td>Footer set fixed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>