<div class="row clearfix">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">WORKING WITH SASS & FOLDER STRUCTURES</div>
            <div class="panel-body">
                <p>Sass is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions. <b>AdminBSB - Sensitive</b> supports Sass and is pure built on top of Sass</p>

                <div class="js-treeview">
                    <ul>
                        <li data-jstree='{"opened":true}'>
                            assets
                            <ul>
                                <li data-jstree='{"opened":true}'>
                                    scss
                                    <ul>
                                        <li>
                                            blog
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_posts.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            charts
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_flot.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            demo
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>setting-box.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            ecommerce
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_cart.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_payment.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_pricingtable.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_productdetail.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_productgrid.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            examples
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_errorpages.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_forgotpassword.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_invoice.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_lockedscreen.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_maintenance.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_searchresult.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_signin.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_signup.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_timeline.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            form-elements
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_buttons.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_chosen.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_colorpicker.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_cropit.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_daterangepicker.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_datetimepicker.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_dropdownmenu.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_fileupload.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_form.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_input.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_multiselect.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_nouislider.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_select.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_select2.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_tagsinput.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            forms
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_formwizard.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_imagecropper.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_summernote.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_typehead.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            mailbox
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_mailbox.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_outlookview.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            medias
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_carousel.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_contentslider.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_gridmasonry.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            miscellaneous
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_agilecard.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_calendar.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_chatdashboard.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_codeeditor.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_contacts.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_faq.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_filemanager.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_passwordstrengthmeter.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_profile.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_todolist.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_treeview.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            themes
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_allthemes.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_themecolorvariables.scss</li>
                                                <li data-jstree='{"type":"scss"}'>theme-blue.scss</li>
                                                <li data-jstree='{"type":"scss"}'>theme-purple.scss</li>
                                                <li data-jstree='{"type":"scss"}'>theme-red.scss</li>
                                                <li data-jstree='{"type":"scss"}'>theme-warning.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            ui
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_alerts.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_badges.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_breadcrumb.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_icons.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_labels.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_list.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_mediaobject.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_modals.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_nestablesortable.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_notification.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_pagination.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_progressbars.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_tabs.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_thumbnails.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_tooltippopovers.scss</li>
                                            </ul>
                                        </li>
                                        <li>
                                            widgets
                                            <ul>
                                                <li data-jstree='{"type":"scss"}'>_draggable.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_infobox.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_panels.scss</li>
                                                <li data-jstree='{"type":"scss"}'>_weatherstation.scss</li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{"type":"scss"}'>_commentbox.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_common.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_content.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_dashboard.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_dropdownmenu.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_footer.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_helpers.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_layouts.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_leftsidemenu.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_maps.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_media.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_mixins.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_navbar.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_rightsidebar.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_tables.scss</li>
                                        <li data-jstree='{"type":"scss"}'>_variables.scss</li>
                                        <li data-jstree='{"type":"scss"}'>style.scss</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">MIXINS</div>
            <div class="panel-body">
                We have made a wide varraity of mixins that can be used in scss, mixins can be found under <code>assets/scss/_mixins.scss</code>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">VARIABLES</div>
            <div class="panel-body">
                <p>Varriables help to generate themes, you can custom build you very own theme. The varriables will be include inside a specific theme</p>

                <p><b>Default Theme Variables</b></p>
                <p>Can be found under <code>assets/scss/themes/_themecolorvariables.scss</code></p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>$theme_default</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape theme-color-default"></span>
                                        <span class="code">#009688</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$theme_blue</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape theme-color-blue"></span>
                                        <span class="code">#2992a7</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$theme_red</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape theme-color-red"></span>
                                        <span class="code">#da4453</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$theme_purple</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape theme-color-purple"></span>
                                        <span class="code">#a7296a</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$theme_warning</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape theme-color-warning"></span>
                                        <span class="code">#f6b225</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p><b>Default Color Variables</b></p>
                <p>Can be found under <code>assets/scss/_variables.scss</code></p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>$color-danger</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-danger"></span>
                                        <span class="code">#da4453</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$color-info</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-info"></span>
                                        <span class="code">#01c0c8</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$color-success</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-success"></span>
                                        <span class="code">#16a085</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$color-primary</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-primary"></span>
                                        <span class="code">#2980b9</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$color-warning</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-warning"></span>
                                        <span class="code">#f6b225</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>$color-default</td>
                                <td>
                                    <div class="colorbox">
                                        <span class="shape color-default"></span>
                                        <span class="code">#bdc3c6</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>