$body_background-color: #E7EBEE;
$body_font-family: 'Open Sans', Arial, Tahoma, sans-serif;

/* General Colors */
$color-danger: #DA4453;
$color-info: #01C0C8;
$color-success: #16a085;
$color-primary: #2980b9;
$color-warning: #f6b225;
$color-default: #bdc3c6;
$color-white: #fff;


/* Pagination */
$active-bg-color: #16a085;

/* Input */
$input_font-size: 13px;
$input_border-hover-color: #16a085;

/* Bootstrap Select */
$bootstrapselect_border-active-color: #01C0C8;

/* Panel */
$panel_body_main-color: #666;
$panel_body_main-font-size: 13px;
$panel_body_line-height: 22px;
$panel_body-h3-font-weight: 600;
$panel_body-h3-font-size: 15px;
$panel-border: 1px solid #e5e5e5;
$panel-border-radius: 4px;

/* Buttons */
$btn-default_bg-color: #fff;
$btn-default_border-color: #ddd;

$btn-danger_bg-color: #DA4453;
$btn-danger_border-color: #DA4453;

$btn-warning_bg-color: #f6b225;
$btn-warning_border-color: #f6b225;

$btn-info_bg-color: #01C0C8;
$btn-info_border-color: #01C0C8;

$btn-success_bg-color: #16a085;
$btn-success_border-color: #16a085;

$btn-primary_bg-color: #2980b9;
$btn-primary_border-color: #2980b9;

$btn-link_forecolor: #666;
$btn-link_hover-forecolor: #01C0C8;
