.fp-page {
    overflow-x: hidden;

    .fp-form-area {
        padding-top: 75px;
        width: 68%;

        h1 {
            font-size: 27px;
            text-align: center;
            color: #555;
        }

        .fp-top-info {
            text-align: center;
            color: #777;
            max-width: 360px;
            margin: 0 auto 25px auto;
        }

        .form-control-feedback {
            color: #d5d5d5;
        }

        .icheck {
            margin-top: 7px;

            label {
                color: #555;
                font-size: 13px;
            }
        }

        label {
            div {
                margin-right: 3px;
                position: relative;
                top: -1px;
            }

            a {
                color: #16a085;
                font-weight: 600;
            }
        }
    }

    .fp-right-image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 32%;
        background: url('../../assets/images/forgot-password-bg.jpg') no-repeat;
        @include background-size(cover);

        .background-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.32);
        }

        .copyright-info {
            width: 100%;
            position: absolute;
            font-size: 12px;
            color: #fff;
            bottom: 0;
            padding: 10px 13px;

            p {
                margin-bottom: 0;
                margin-top: 5px;
            }
        }
    }

    .fp-bottom-info {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 32%;
        border-top: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        z-index: 9;

        a {
            color: #555;
            font-size: 13px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

/* MEDIA */
@media only screen and (max-width : 767px) {
    .fp-right-image {
        display: none;
    }

    .fp-form-area,
    .fp-bottom-info {
        width: 100% !important;
    }

    .fp-form-area {
        padding: 15px !important;
    }
}
