.dropzone {
    border: 2px solid transparent;
    background-color: #eee;

    .drag-icon-cph {
        .fa {
            font-size: 50px;
            color: #717171;
            margin-bottom: 18px;
        }
    }

    .dz-message {
        font-size: 13px;
    }
}
