.form-control {
    @include border-radius(2px);
    @include box-shadow(none);
    font-size: $input_font-size;
    border: 1px solid #ddd;

    &.input-lg {
        font-size: 16px;
        padding: 6px 12px;
    }

    &.input-sm {
        font-size: 12px;
        padding: 6px 13px;
    }

    &:focus {
        @include box-shadow(none);
        border-color: $input_border-hover-color;
    }

    &.focused {
        @include box-shadow(none);
        border-color: $input_border-hover-color;
    }
}

.input-group-addon {
    @include border-radius(0 !important);
    background-color: transparent;
    border: 1px solid #ddd;
}

.input-group {
    .input-group-btn {
        .btn:not(.btn-default) {
            border-color: $color_success !important;
            @include border-radius(0 3px 3px 0 !important);
        }
    }
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
